/*This document contains the styles that use the app. You can change these as you wish.*/

.ds4a-app {
  background-color: #f8f9f9;
  font-size: 1.5em;
}

body {
  font-size: 1.5em;
}

._dash-loading{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #83ac07;
  font-weight: bolder;
  font-size: 3em;
  position: absolute;
}

.ds4a-body {
  margin-left: 0rem;
  margin-top: 18rem;
  margin-right: 0rem;
  padding: 0rem;
  background-color: #f8f9f9;
}

.ds4a-title {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 120px;
  width: 100%;
  margin-left: 16rem;
  margin-right: 2rem;
  padding: 2rem 1rem;
  background-color: #f8f9f9;
}

.ds4a-sidebar {
  margin-top: 18rem;
  position: fixed;

  left: 0;
  bottom: 0;
  width: 30rem;
  padding: 2rem 1rem;
  background-color: #007934;
}


.fab-container {
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 999;
  cursor: pointer;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #016fb9;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
}

.fab-icon-holder:hover {
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  font-size: 25px;
  color: #ffffff;
}

.fab {
  width: 60px;
  height: 60px;
  background: #83ac07;
}

.fab-options {
  list-style-type: none;
  margin: 0;

  position: absolute;
  bottom: 70px;
  right: 0;

  opacity: 0;

  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover+.fab-options,
.fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
}